<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="reddit.auth.clientId" value="" />
    <add key="reddit.auth.clientSecret" value="" />
    <add key="reddit.script.clientId" value="" />
    <add key="reddit.script.clientSecret" value="" />
    <add key="reddit.modUserName" value="ChampionMainsBot" />
    <add key="reddit.modPassword" value="" />

    <add key="riot.apiKey" value="" />
    <add key="riot.maxAttempts" value="3" />
    <add key="riot.retryInterval" value="0:00:01.5" />
    <add key="riot.rateLimit" value="10:10,500:600" />

    <add key="userAgent" value="aspnet:championMains.pyrobot" />
    <add key="website.riotUpdateMin" value="00:00:10.000" />
    <add key="website.riotUpdateMax" value="05:50:00.000" />
    <add key="website.flairUpdate" value="05:50:00.000" />
    <add key="security.admins" value="LugnutsK" />

    <add key="webjob.maxAttempts" value="1" />
    <add key="webjob.pollingInterval" value="00:00:03.000" />
    <add key="webjob.timeout.bulkUpdate" value="00:30:00.000" />
    <add key="webjob.bulkUpdate.saveBatchSize" value="100" />
    <add key="webjob.bulkUpdate.updateBatchSize" value="100" />
    <add key="webjob.bulkUpdate.updateNumBatches" value="2" />
    <add key="webjob.bulkUpdate.updateFlairsNumSubreddits" value="3" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
