<?xml version="1.0" encoding="utf-8"?>
<!-- Copy this file to App.Local.Config and fill in all the fields to run locally. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="UnitOfWork" connectionString="Data Source=.;Initial Catalog=championmains-db-pyrobot;Integrated Security=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="AzureWebJobsDashboard" connectionString="" />
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="AzureWebJobsStorage" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.auth.clientId" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.auth.clientSecret" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.script.clientId" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.script.clientSecret" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.modUserName" value="ChampionMainsBot" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.modPassword" value="" />
  </appSettings>
</configuration>
