@{
    Layout = "~/Views/_master.cshtml";
}

<div class="text-center">
    <h2>Authentication Required</h2>
</div>

<p>Please sign in using your Reddit account to continue.</p>
<a href="@Url.Action("login", "login")" class="btn btn-primary"><span class="fa fa-sign-in"></span> Sign In</a>