@{
    Layout = "~/Views/_master.cshtml";
}

<div class="row text-center">
    <h2>Authentication Required</h2>
</div>

<div class="row">
    <p>Please sign in using your Reddit account to continue.</p>
    <a href="@Url.Action("login", "login")" class="btn btn-primary"><span class="fa fa-sign-in"></span> Sign In</a>
</div>