@using ChampionMains.Pyrobot.Models

<h1 class="text-center"><span class="rank" ng-class="'rank-' + summoners.getTopTier()"></span> /u/@User.Identity.Name</h1>

<button type="button" class="btn btn-primary" ng-click="registerSummoner()">
    <i class="fa fa-bars"></i> Link Summoner
</button>

<table class="table">
    <thead>
    <tr>
        <th><span ng-class="{ 'fade-out': !summoners.loading }" class="fa fa-refresh spinning fade"></span></th>
        <th>Region</th>
        <th>Summoner</th>
        <th>Rank</th>
        <th>Mastery Points</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="summoner in summoners.items | filter: { hidden: '!' } | orderBy:'totalPoints':true track by summoner.id">
        <td>
            <div class="btn-group btn-group-xs">
                <a class="btn btn-default" href="#" ng-click="refreshSummoner(summoner)"><span class="fa fa-refresh"></span></a>
                <a class="btn btn-danger" href="#" ng-click="deleteSummoner(summoner)"><span class="fa fa-times"></span></a>
            </div>
        </td>
        <td ng-bind="summoner.region"></td>
        <td ng-bind="summoner.summonerName"></td>
        <td>
            <span ng-show="summoner.rank" class="rank sm" ng-class="'rank-' + summoner.tierString"></span>
            <span ng-bind="summoner.rank"></span>
            <span class="hint" ng-hide="summoner.rank" ng-tooltip="right,This summoner will update shortly.">Updating...</span>
        </td>
        <td>
            <span ng-show="summoner.rank" ng-bind="summoner.totalPoints | number"></span>
            <span class="hint" ng-hide="summoner.rank" ng-tooltip="right,This summoner will update shortly.">Updating...</span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-show="summoners.items.length == 0">
        <td colspan="5">No summoners linked.</td>
    </tr>
    </tfoot>
</table>

<h2>Subreddit Flair Settings</h2>

<table class="table table-pad">
    <thead>
        <tr>
            <th style="width: 40%;">Flair</th>
            <th>Subreddit</th>
            <th>Prestige</th>
            <th>Mastery Points</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="subreddit in subreddits.items | orderBy:subredditSorter:true track by subreddit.id">
            <td>
                <form ng-init="flairData = subreddit.flair" ng-submit="updateSubredditFormSubmit(flairData)" class="flair-toggles input-group input-group-sm">
                    <span class="input-group-btn">
                        <label class="btn btn-default" ng-class="[ 'disabled' ][+subreddit.rankEnabled]">
                            <input ng-model="flairData.rankEnabled" type="checkbox" autocomplete="off" />
                            <span class="rank xs" ng-class="'rank-' + summoners.getTopTier()"></span>
                        </label>
                        <label class="btn btn-default" ng-class="[ 'disabled' ][+subreddit.championMasteryEnabled]">
                            <input ng-model="flairData.championMasteryEnabled" type="checkbox" autocomplete="off" />
                            <span class="mastery" ng-class="'mastery-' + summoners.getChampionMastery(subreddit.champion.id).prestige"></span>
                        </label>
                    </span>
                    <input type="text" ng-model="flairData.flairText" class="form-control" placeholder="flair text" />
                    <span class="input-group-btn"><button class="btn btn-success" type="submit"><span class="fa fa-check"></span></button></span>
                </form>
            </td>
            <td>
                <img class="champion" champ-img="subreddit.champion.identifier"
                     alt="{{ subreddit.champion.name }}" title="{{ subreddit.champion.name }}"/>
                <a href="#" ng-href="http://www.reddit.com/r/{{ subreddit.name }}" target="_blank">/r/<span ng-bind="subreddit.name"></span></a>
            </td>
            <td>
                <!-- TODO: optimize -->
                <span class="mastery" ng-class="'mastery-' + summoners.getChampionMastery(subreddit.champion.id).prestige"></span>
                <span ng-bind="summoners.getChampionMastery(subreddit.champion.id).points | number"></span> /
                <span ng-bind="getNextPrestige(summoners.getChampionMastery(subreddit.champion.id).points, prestiges)"></span>
            </td>
            <td>
                <span class="mastery" ng-class="'mastery-' + summoners.getChampionMastery(subreddit.champion.id).level"></span>
                <span ng-bind="summoners.getChampionMastery(subreddit.champion.id).points | number"></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr ng-show="subreddits.items.length == 0">
            <td colspan="5">No subreddits linked.</td>
        </tr>
    </tfoot>
</table>

<div class="modal pop-in" id="modal-confirm-delete" ng-controller="DeleteController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-disabled="busy">&times;</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>
                    Really delete <strong><span ng-bind="dialog.data.summonerName"></span> (<span ng-bind="dialog.data.region"></span>)</strong>?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="busy">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="busy">
                    <i class="fa fa-spin fa-spinner" ng-show="busy"></i> Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal pop-in" id="modal-register" ng-controller="RegisterController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-disabled="busy">&times;</button>
                <h4 class="modal-title">Register Summoner</h4>
            </div>
            <div class="modal-body">
                <div class="modal-wizard">
                    <div class="modal-wizard-step" ng-class="{'slide-left': code}">
                        <p>This dialog will allow you to link your summoner to your Reddit account.</p>
                        <p>Linking your summoner will allow you to display a ranked flair on qualifying sub-Reddits.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="summonerName" class="col-sm-4 control-label">Summoner Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="summonerName" ng-disabled="busy" ng-model="summonerName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="region" class="col-sm-4 control-label">Region</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="region" ng-disabled="busy" ng-model="region">
                                        @foreach (string r in SummonerModel.AllRegions)
                                        {
                                            <option value="@r">@r</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-wizard-step">
                        <p>
                            <strong>Almost Done!</strong>
                        </p>
                        <p>
                            Validate your summoner by changing a <em>rune page</em> to:
                        </p>
                        <blockquote ng-bind="code"></blockquote>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="alert alert-dismissible alert-danger" ng-show="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span ng-bind="alert.text"></span>
                    </div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="busy">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="busy || !(summonerName && region)">
                    <i class="fa fa-spin fa-spinner" ng-show="busy"></i> Confirm
                </button>
            </div>
        </div>
    </div>
</div>