@charset "UTF-8";

// 1.  Configuration and helpers

// MDL image path
$image_path: '~/content/mdl-img/' !default;

// Material Design Lite
@import '~/node_modules/material-design-lite/src/variables';
@import '~/node_modules/material-design-lite/src/mixins';

// mdl-ext
@import '~/node_modules/mdl-ext/src/variables';
@import '~/node_modules/mdl-ext/src/mixins';
@import '~/node_modules/mdl-ext/src/functions';

// 2.  Vendors

// Import MDL
//@import '~/node_modules/material-design-icons/iconfont/material-icons';
//@import '~/node_modules/roboto-fontface/css/roboto/sass/roboto-fontface-light';
@import '~/node_modules/material-design-lite/src/material-design-lite';

// Import required MDLEXT SASS modules
@import '~/node_modules/mdl-ext/src/color-themes/dark-color-theme';
//@import '~/node_modules/mdl-ext/src/aria-expanded-toggle/aria-expanded-toggle';
//@import '~/node_modules/mdl-ext/src/menu-button/menu-button';
//@import '~/node_modules/mdl-ext/src/selectfield/selectfield';

// 3. Your stuff
//@import 'stylesheets/variables';
//@import 'stylesheets/app/whatever';

// MDL SELECT
@import '~/node_modules/getmdl-select/src/scss/getmdl-select';

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

html, body,
h1, h2, h3, h4, h5, h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
blockquote,
.mdl-layout-title {
    font-family: 'Cabin', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

.mdlext-dark-color-theme {
    dialog.mdl-dialog {
        width: 420px;
    }

    dialog.mdl-dialog, .mdl-dialog__content {
        color: inherit;
        background: #303030;
    }

    .getmdl-select .selected {
        background-color: rgba(255, 255, 255, 0.2);
    }

    a {
        text-decoration: none;
        color: #448AFF;
    }

    a:hover {
        text-decoration: underline;
        color: #64B5F6;
    }
    //    input:-internal-autofill-selected {
    //        background-color: rgba(250, 255, 189, 0.12) !important;
    //    }
}

.mdl-chip.mdl-chip--small {
    height: 24px;
    line-height: 24px;
}

dialog::backdrop, dialog + .backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.mdl-layout__drawer {
    background: #303030;
    color: inherit;
    border-right: 1px solid #212121;
}

///////////////////////////////////
///////////////////////////////////
[v-cloak] {
    display: none !important;
}

////////

.demo-layout {
    position: relative;
    background-image: url('/content/img/noise.png');
    background-size: 48px;
    background-repeat: repeat;
}

.demo-layout::before,
.demo-layout::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 100%;
    min-width: 480px;
    background-image: url('https://cdn.communitydragon.org/latest/champion/99/splash-art/centered/skin/8');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 0%;
}

@media (min-width: 840px) {
    .demo-layout::before {
        transform: translateX(-50%) scaleX(-1);
        left: -30%;
    }

    .demo-layout::after {
        left: 70%;
    }
}

.demo-layout .mdl-layout__header,
.demo-layout .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    color: white;
}

.mdl-layout__header {
    background-image: linear-gradient( hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100% );
}

.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

.demo-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
    padding: 40px 28px;
}

.demo-content h3 {
    margin-top: 48px;
}

.demo-footer {
    padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}


.username {
    word-break: break-all;
    font-family: 'Cabin', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}

.userpane, .content {
    background-color: #303030;
    padding: 16px;
}
.userpane {
    margin-top: calc(30px + 5vw);
    padding-top: 8px;
}
@media (min-width: 840px) {
    .userpane {
        max-width: 500px;
    }
}
.userpane-spacer {
    height: calc(50px + 25vw);
}

.mdl-layout__container {
    position: static !important;
}
