@charset "UTF-8";

// 1.  Configuration and helpers

// MDL image path
$image_path: '~/node_modules/material-design-lite/src/images/' !default;

// Material Design Lite
@import '~/node_modules/material-design-lite/src/variables';
@import '~/node_modules/material-design-lite/src/mixins';

// mdl-ext
@import '~/node_modules/mdl-ext/src/variables';
@import '~/node_modules/mdl-ext/src/mixins';
@import '~/node_modules/mdl-ext/src/functions';

// 2.  Vendors

// Import MDL
//@import '~/node_modules/material-design-icons/iconfont/material-icons';
//@import '~/node_modules/roboto-fontface/css/roboto/sass/roboto-fontface-light';
@import '~/node_modules/material-design-lite/src/material-design-lite';

// Import required MDLEXT SASS modules
@import '~/node_modules/mdl-ext/src/color-themes/dark-color-theme';
//@import '~/node_modules/mdl-ext/src/aria-expanded-toggle/aria-expanded-toggle';
//@import '~/node_modules/mdl-ext/src/menu-button/menu-button';
//@import '~/node_modules/mdl-ext/src/selectfield/selectfield';

// 3. Your stuff
//@import 'stylesheets/variables';
//@import 'stylesheets/app/whatever';

// MDL SELECT
@import '~/node_modules/getmdl-select/src/scss/getmdl-select';

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

html, body,
h1, h2, h3, h4, h5, h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
blockquote,
.mdl-layout-title {
    font-family: 'Cabin', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

.anchor {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    color: inherit;
    text-align: inherit;
    font: inherit;
}
.anchor:hover {
    text-decoration: underline;
    color: #64B5F6;
}

.mdl-layout__drawer.mdl-layout__drawer--wide {
    width: 300px;
    transform: translateX(-300px);
    &.is-visible {
        transform: translateX(0);
    }
}

.mdlext-dark-color-theme {

    dialog::backdrop, dialog + .backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    dialog.mdl-dialog {
        margin: 16px;
        width: calc(100% - 60px);
    }

    @media (min-width: 480px) {
        dialog.mdl-dialog {
            margin: auto;
            width: 420px;
        }
    }

    dialog.mdl-dialog, .mdl-dialog__content {
        color: inherit;
        background: #303030;
    }

    .getmdl-select .selected {
        background-color: rgba(255, 255, 255, 0.2);
    }

    a {
        text-decoration: none;
        color: #448AFF;
    }

    a:hover {
        text-decoration: underline;
        color: #64B5F6;
    }
    //    input:-internal-autofill-selected {
    //        background-color: rgba(250, 255, 189, 0.12) !important;
    //    }
}

.mdl-chip.mdl-chip--small {
    height: 24px;
    line-height: 24px;
}

.mdl-layout__drawer {
    background: #303030;
    color: inherit;
    border-right: 1px solid #212121;
}

///////////////////////////////////
///////////////////////////////////
[v-cloak] {
    display: none !important;
}
