
.main-layout {
    position: relative;
    background-image: url('/content/img/noise.png');
    background-size: 48px;
    background-repeat: repeat;

    .mdl-layout__header {
        background-image: linear-gradient( hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100% );
    }

    .mdl-layout__header,
    .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
        color: white;
    }
}

#background-canvas {
    .left,
    .right {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        width: 100%;
        min-width: 480px;
        //background-image: url('https://cdn.communitydragon.org/latest/champion/99/splash-art/centered/skin/8');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 100% 0%;
    }

    @media (min-width: 840px) {
        .left {
            transform: translateX(-50%) scaleX(-1);
            left: -25%;
        }

        .right {
            left: 75%;
        }
    }
}

.username {
    word-break: break-all;
    font-family: 'Cabin', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}

.heading-spacer {
    height: calc(20vw - 150px);
}

.userpane, .content {
    background-color: #303030;
    padding: 16px;
}

.userpane {
    margin-top: calc(30px + 5vw);
    padding-top: 8px;
}

@media (min-width: 840px) {
    .userpane {
        max-width: 500px;
    }
}

.userpane-spacer {
    height: calc(50px + 25vw);
}

.mdl-layout__container {
    position: static !important;
}

.fade {
    transition: opacity 1s ease-in;
    opacity: 1;
}
.fade.fade-hide {
    opacity: 0;
}

.fab-container {
    position: relative;
    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.background-icon-container {
    height: 250px;
    overflow-y: auto;
    padding: 3px 2px 2px 3px;
    line-height: 0;

    .background-icon {
        width: calc(33.3% - 1px);
        padding-bottom: calc(33.3% - 1px);
        margin: -1px 0 0 -1px;
        border: 1px solid #666;
        display: inline-block;
        background-size: 100%;
        cursor: pointer;

        &.selected {
            border: 3px solid #536DFE;
            margin: -3px -2px -2px -3px;
            position: relative;
        }
    }
}

.listRow {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 16px;
}

.summonerListRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .badge {
        width: calc(80px + 2.7vw);
        margin: -16px;
    }

    .info {
        padding: 0 18px;

        .name {
            margin: 4px 0;

            * {
                vertical-align: middle;
            }

            .summonerName {
                line-height: 24px;
                font-size: 24px;
                margin-right: 4px;
            }
        }

        .points {
            margin: 4px 0;
            font-size: 16px;
        }

        .points::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 1.3em;
            padding-bottom: 1.3em;
            margin-right: 0.2em;
            background-image: url('/content/img/mastery-icon.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    .controls {
        flex: 1 0;
        text-align: right;
        min-width: 175px;

        .updateTime {
            font-size: 10px;
        }
    }

    .note {
        padding: 18px;
    }
}

.subredditListRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .subredditLink {
        width: 170px;
    }

    .controls {
        flex: 1 0;
        text-align: right;
    }
}

#modal-add-summoner {
    > .clipper {
        // This is a dumbass overflow hack to make the region dropdown show below
        // the bottom of the dialog.
        // https://css-tricks.com/popping-hidden-overflow/
        padding-bottom: 288px;
        margin-bottom: -288px;
        overflow: hidden;
    }

    .sliding-pages {
        z-index: 10;
        position: relative;
        > * {
            top: 0;
            transition: transform 0.5s ease-in-out;
            background: none !important;
        }
        // First page (default).
        > :nth-child(1) {
            transform: translateX(0);
        }

        > :nth-child(2) {
            position: absolute;
            transform: translateX(100%);
        }

        &[page="2"] {
            padding-bottom: 0;
            margin-bottom: 0;

            > :nth-child(1) {
                position: absolute;
                transform: translateX(-100%);
            }

            > :nth-child(2) {
                position: static;
                transform: translateX(0);
            }
        }
    }

    .summonerIcon {
        width: 128px;
        height: 128px;
    }
}
