.fade {
    transition: opacity 1s ease-in;
    opacity: 1;
}
.fade.fade-hide {
    opacity: 0;
}

.listRow {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 16px;
}

.summonerListRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .badge {
        width: calc(80px + 2.7vw);
        margin: -16px;
    }

    .info {
        padding: 0 18px;

        .name {
            margin: 4px 0;

            * {
                vertical-align: middle;
            }

            .summonerName {
                line-height: 24px;
                font-size: 24px;
                margin-right: 4px;
            }
        }

        .points {
            margin: 4px 0;
            font-size: 16px;
        }

        .points::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 1.3em;
            padding-bottom: 1.3em;
            margin-right: 0.2em;
            background-image: url('/content/img/mastery-icon.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    .controls {
        flex: 1 0;
        text-align: right;
        min-width: 175px;

        .updateTime {
            font-size: 10px;
        }
    }

    .note {
        padding: 18px;
    }
}

.subredditListRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .subredditLink {
        width: 170px;
    }

    .controls {
        flex: 1 0;
        text-align: right;
    }
}

#modal-add-summoner {
    > .clipper {
        // This is a dumbass overflow hack to make the region dropdown show below
        // the bottom of the dialog.
        // https://css-tricks.com/popping-hidden-overflow/
        padding-bottom: 288px;
        margin-bottom: -288px;
        overflow: hidden;
    }

    .sliding-pages {
        z-index: 10;
        position: relative;
        > * {
            top: 0;
            transition: transform 0.5s ease-in-out;
            background: none !important;
        }
        // First page (default).
        > :nth-child(1) {
            transform: translateX(0);
        }

        > :nth-child(2) {
            position: absolute;
            transform: translateX(100%);
        }

        &[page="2"] {
            padding-bottom: 0;
            margin-bottom: 0;

            > :nth-child(1) {
                position: absolute;
                transform: translateX(-100%);
            }

            > :nth-child(2) {
                position: static;
                transform: translateX(0);
            }
        }
    }

    .summonerIcon {
        width: 128px;
        height: 128px;
    }
}
