<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="UnitOfWork" connectionString="Data Source=.;Initial Catalog=championmains-pyrobot-unitofwork;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=championmainspyrobotdev;AccountKey=MUKwDcPsMpv30/vUVV1DnzIf7FuGYhIsl+Xoca5k7FHyIUXAq+TIwnP+craca9GVwp8pdQLAnBhEgB/5ZVDmrw==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=championmainspyrobotdev;AccountKey=MUKwDcPsMpv30/vUVV1DnzIf7FuGYhIsl+Xoca5k7FHyIUXAq+TIwnP+craca9GVwp8pdQLAnBhEgB/5ZVDmrw==" />
  </connectionStrings>
  <appSettings>
    <add key="reddit.auth.clientId" value="OiNRGjX4_COVDw" />
    <add key="reddit.auth.clientSecret" value="EPxggNoT1FPXFyFqwn__hT4ndhs" />
    <add key="reddit.script.clientId" value="zd5ihcyrdF3etA" />
    <add key="reddit.script.clientSecret" value="RLwIjfRiK0yV1WSIQ5H3cOtmh1Q" />
    <add key="reddit.modUserName" value="ChampionMainsBot" />
    <add key="reddit.modPassword" value="ECmED3uLnsEStsp9pVnGWtqDRKFTh6Fs" />

    <add key="riot.apiKey" value="8c8df173-375e-465d-bd38-e436b02e2efe" />
    <add key="riot.maxAttempts" value="3" />
    <add key="riot.retryInterval" value="0:00:01.5" />
    <add key="riot.maxRequestsPer10Seconds" value="10" />

    <add key="website.leagueUpdateStaleTime" value="00:01:00.000" />

    <add key="webjob.maxAttempts" value="1" />
    <add key="webjob.pollingInterval" value="00:00:03.000" />
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
