<?xml version="1.0" encoding="utf-8"?>
<!-- Copy this file to Web.Local.Config and fill in all the fields to run locally. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" name="UnitOfWork" connectionString="Data Source=.;Initial Catalog=championmains-db-pyrobot;Integrated Security=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.auth.clientId" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.auth.clientSecret" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.script.clientId" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.script.clientSecret" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.modUserName" value="ChampionMainsBot" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="reddit.modPassword" value="" />

    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="riot.apiKey" value="" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="riot.maxAttempts" value="3" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="riot.retryInterval" value="0:00:05" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="riot.rateLimit" value="10:10,500:600" />

    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="userAgent" value="aspnet:championMains.pyrobot" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="website.riotUpdateMin" value="00:00:10.000" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="website.flairUpdate" value="05:50:00.000" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="security.admins" value="LugnutsK" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="AzureWebJobsStorage" value="" />
  </appSettings>
</configuration>
