<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>/r/ChampionMains Flairs</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header class="container">
      <h1 class="text-center"><a href="http://championmains-pyrobot.azurewebsites.net/">/r/ChampionMains Flairs</a></h1>
    </header>
    <div class="container">{{ content }}</div>
    <hr />
    <footer class="container">
      <p><small>Updated on {{ site.time }}</small></p>
    </footer>
  </body>
</html>